#enrycher-progress-thobber {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}

#enrycher-progress-thobber span {
  top: 50%;
  position: absolute;
  background: white;
  padding: 10px;
  border-radius: 10px;
  left: 40%;
}
